{% extends "pdsTreeBundle::layout.html.twig" %}
{% block content %}
<h2>Tree structure</h2>
    <p>The implementation of the tree structure using parentId.</p>

    {#{% for item in menu %}#}
        <p>{{ item.getText() }}</p>

       s
    {#{% endfor %}#}

{% endblock %}